@(user: models.User, documents: List[models.ArraignmentPlea])

@main("eAppearance - Documents", Some(user)) {
    <table class="table table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Case Number</th>
                <th>Defendant</th>
                <th>Type</th>
                <th>Submitted</th>
            </tr>
        </thead>
        <tbody>
        @for(document <- documents) {
            <tr>
                <td>@document.caseNumber</td>
                <td>@document.defendant.fullName</td>
                <td>Arraignment Plea</td>
                <td>@document.date</td>
            </tr>
        }
        </tbody>
    </table>
}
